section{
    margin-bottom: 55px;
}

.orders-link a{
    text-shadow: 0 0 5px #000;
}

.orders-title{
    text-align: center;
    display: grid;
    align-items: center;
    justify-content: center;
}

.orders-title p{
    margin-top: 30px;
    color: #797979;
    font-weight: bold;
    font-size: 15px;
}

.orders-title h2{
    text-transform: uppercase;
    color: #676c72;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.search-create{
    display: flex;
    width: 900px;
    height: 30px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.create-box{
    margin-right: 5px;
    display: flex;
    align-items: center;
}

.create-box a{
    color: #0011ff;
    font-size: 17px;
    text-decoration: none;
    transition: .2s;
} 

.create-box a:hover{
    text-shadow: 0 0 1px #3c49ff;
}

.search-box .input{
    width: 250px;
    height: 30px;
    text-align: left;
    font-size: 16px;
    border-radius: 13px;
    border-width: 1px;
    border-color: #ABB2B9;
    padding-left: 15px;
    padding-right: 15px;
    outline: none;
    color: #676c72;
}

.search-box .submit{
    color: #2C3E50;
    width: 50px;
    height: 30px;
    font-size: 12px;
    outline: none;
    background-color: #EAECEE;
    border-radius: 13px;
    border-color: #ABB2B9;
    border-width: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.search-box .submit:hover{
    background-color: #F8F9F9;
    border-color: #F8F9F9;
    color: #808B96;
}

.search-box .input::-webkit-input-placeholder {
    font-size: 15px;
    text-align: center;
    color: #c0c0c0;
}

.section-orders{
    display: grid;
    justify-content: center;
}

.section-orders .no-orders{
    text-align: center;
}

.section-orders .no-orders h3{
    color: #797979;
    text-transform: uppercase;
    padding-top: 20px;
    font-size: 18px;
}

.section-orders .no-orders h4{
    color: #797979;
    font-size: 70px;
    margin: 45px;
    opacity: .4;
}

.card-order{
    text-align: left;
    background-color: #F2F3F4;
    width: 900px;
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
}

.card-order p{
    font-size: 15px;
    color: #292a2b;
}

.card-order .code{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
    border-bottom: #797979 dotted 1px;
}

.card-order .code p{
    font-size: 18px;
}

.specs{
    display: flex;
    justify-content: space-between;
}

.card-order .dest,
.card-order .remet,
.card-order .obs,
.card-order .specs{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: #797979 dotted 1px;
}

.card-order .crud-order{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.card-order .crud-order a{
    font-size: 15px;
    text-decoration: none;
}

.card-order .crud-order .update{
    margin-right: 3%;
    color: #0011ff;
    transition: .2s;
}
.card-order .crud-order .checked{
    color: #2C3E50;
    margin-left: 3%;
    transition: .2s;
}

.card-order .crud-order .checked:hover{
    text-shadow: 0 0 1px #2c353f;
}

.card-order .crud-order .update:hover{
    text-shadow: 0 0 1px #3c49ff;
}

.card-order .crud-order .delete{
    color: #ff0000;
    transition: .2s;
}

.card-order .crud-order .delete:hover{
    text-shadow: 0 0 1px #ff2323;
}

@media screen and (max-width:500px){

    .search-box .input{
        width: 60vw;
        font-size: 13px;
    }

    .search-box .input::-webkit-input-placeholder {
        font-size: 13px;
    }

    .orders-title h2{
        margin-top: 15px;
    }

    .card-order{
        width: 85vw;
    }

    .card-order p{
        font-size: 12px;
    }

    .card-order .code,
    .card-order .dest,
    .card-order .remet,
    .card-order .specs,
    .card-order .crud-order,
    .card-order .obs{
        margin-left: 3px;
        margin-right: 3px;
    }

    .card-order .code p{
        font-size: 15px;
    }

    .card-order .crud-order{
        padding-top: 5px;
    }

    .card-order .crud-order a{
        font-size: 12px;
    }

}

@media screen and (max-width:640px){

    .orders-title h2{
        font-size: 25px;
    }

    .search-create{
        display: grid;
        height: 80px;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 0;
    }

    .search-box{
        align-items: center;
        width: 81vw;
    }

    .create-box{
        display: flex;
        height: 25px;
        width: 80vw;
        justify-content: center;
    }
    .create-box a{
        font-size: 15px;
    }

    .card-order p{
        font-size: 13px;
    }
}

@media screen and (max-width:700px){

    .specs{
        display: block;
    }

    .specs .descrip,
    .specs .data{
        padding-bottom: 5px;
        border-bottom: #797979 dotted 1px;
    }

    .specs .respon{
        padding-top: 5px;
    }

}

@media screen and (max-width:1000px){

    .search-create{
        width: 85vw;
    }
    .card-order{
        width: 85vw;
    }
}
